# Frontend target relay URL (defaults to /search-relay/ when co-hosted)
A0_RELAY_URL=/search-relay/

# Backend search & log daemon hosts
A0_SEARCHD=localhost
A0_SEARCHD_PORT=8921
A0_QRYLOGD=localhost
A0_QRYLOGD_PORT=3207
